@media (max-width: 767px) {
	.header_top {
/*		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;*/
		align-items: flex-start;
		padding: 20px 0 20px;
	}
	.karantin {
		/*align-self:flex-end;
		margin-left: 200px;*/
	}
	.karantin h1 {
		font-size: 23px;
	}
	.karantin h1 span {
		font-size: 55px;
	}
	.header_content {
		justify-content: center;
	}
	.header_title h2 {
		font-size: 40px;
		line-height: 40px;
	}
	.header_title h2 span {
		font-size: 40px;
		line-height: 40px;
	}
	.header_title h3 {
		font-size: 25px;
	}
	.header_form {
		width: 320px;
	}
	#submit {
		letter-spacing:0;
	}
	.about_wrap {padding-bottom: 275px;}
	.about_text {
    max-width: 70%;
	}
	.about_text h2 {
		font-size: 50px;
		padding-bottom: 30px;
	}
	.about_text p {
		font-size: 25px;
		padding: 0;
	}
	.p1, .p2, .p3, .p4 {
		padding-bottom: 30px;
	}
	.p1 {
		margin-left: -15px;
	}
	.p2 {
		margin-left: 100px;
	}
	.p3 {
		margin-left: 55px;
	}
	.p4 {
		margin-left: -10px;
	}
	.works {margin-top: -230px;}
	.works h2 {
		font-size: 50px;
		padding-bottom: 35px;
	}
	.footer_title h2 {
	    font-size: 40px;
	    line-height: 40px;
	}
	.footer_title p {font-size: 30px;}
	.footer_form { max-width: 75%;}
}