@media (max-width: 991px) {
	/*.header {
	background: linear-gradient(transparent 30%, #fff 60%), url("../../img/bg_header.png") no-repeat;
	background-position: 0 0;
}*/
	.header {
	background: linear-gradient(#ccc 1%, transparent 50%, transparent 80%), url("../../img/bg_header.png") no-repeat;
	background-position: 0 0;
}
	.header_content {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-bottom: 25px;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.header_content input {
		padding: 20px 50px;
	}
	.header_title {
		max-width: 100%;
		text-align: center;
		padding: 20px 1rem 0;
	}
	.header_title h2 {
		font-size: 60px;
	}
	.header_title h2 span {
		font-size: 60px;
	}
	.header_title h3 {
		font-size: 40px;
		line-height: 30px;
	}
	.header_form {
		width: 50%;
		margin: 0 auto;
	}
	.input_top {
		display: none;
	}
	.input_bottom {
		display: block;
		margin: 30px auto;
		padding: 0 50px;
	}
	.p2 {
		margin-left: 95px;
	}
	.p3 {
		margin-left: 30px;
	}
	.p4 {
		margin-left: -80px;
	}
	.works {margin-top: -160px;}
	.footer_wrap {padding: 80px 20px 260px;}
	.footer_title p {
		padding-bottom: 50px;
	}
	.footer_form { max-width: 55%;}
}