@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro Regular"), local("Gotham-Pro-Regular"), url("../fonts/GothamPro/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro Bold"), local("Gotham-Pro-Bold"), url("../fonts/GothamPro-Bold/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold/GothamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Gotham Pro";
}

.wrap {
  position: relative;
}

.header {
  background: url("../img/bg_header.png") no-repeat;
  background-position: calc(((100vw - 1200px) / 2) + 550px) -105px;
  overflow: hidden;
}

.header_wrap {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0 50px;
}

.karantin {
  display: flex;
  position: relative;
}
.karantin h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.karantin h1 span {
  font-size: 70px;
  position: absolute;
  right: 105%;
}

.header_content {
  display: flex;
  max-width: 100%;
  padding-bottom: 250px;
  justify-content: space-between;
}

.header_title {
  max-width: 66%;
  padding-right: 15px;
}
.header_title h2 {
  color: #3e3bc9;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  padding-bottom: 25px;
}
.header_title h2 span {
  color: #3e3bc9;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
.header_title h3 {
  color: #606c7a;
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  padding-bottom: 50px;
}
.header_title #submit {
  padding: 20px 55px;
}

.header_form {
  width: 34%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(33, 26, 177, 0.85);
}

.form_text-top {
  padding: 40px 36px;
  color: #606c7a;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.header_content input {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  padding: 20px 0;
  border-radius: 30px;
  border: 1px solid #3e3bc9;
}
.header_content #name {
  margin-bottom: 30px;
  box-shadow: inset 0 15px 15px rgba(62, 59, 201, 0.2);
  color: #777;
}
.header_content #tel {
  margin-bottom: 41px;
  box-shadow: inset 0 15px 15px rgba(62, 59, 201, 0.2);
}
.header_content #submit {
  background-color: #ffdf7d;
  cursor: pointer;
  font-weight: 900;
  color: #171717;
  border: none;
  font-size: 16px;
  letter-spacing: normal;
}

.form_text-bottom {
  color: #606c7a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 43px 40px 26px;
}

.input_bottom {
  display: none;
}

.about_wrap {
  background: url("../img/bg_about.png") calc((1270px - (100vw / 2)) * -1) 0 no-repeat, url("../img/bg_about2.png") calc((100vw / 2) + 400px) 600px no-repeat;
  margin-top: -90px;
  padding-bottom: 370px;
}

.about {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 235px;
}

.about_text {
  max-width: 60%;
  margin-left: auto;
}
.about_text h2 {
  color: #3e3bc9;
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
  padding-bottom: 62px;
}
.about_text p {
  color: #606c7a;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
}

.p1 {
  position: relative;
  margin-left: 97px;
  padding-bottom: 60px;
}
.p1 p:before {
  content: url("../img/a1.png");
}

.p2 {
  position: relative;
  margin-left: 124px;
  padding-bottom: 60px;
}
.p2 p:before {
  content: url("../img/a2.png");
}

.p3 {
  position: relative;
  margin-left: 88px;
  padding-bottom: 60px;
}
.p3 p:before {
  content: url("../img/a3.png");
}

.p4 {
  position: relative;
  margin-left: 0px;
}
.p4 p:before {
  content: url("../img/a4.png");
}

.p1 p:before,
.p2 p:before,
.p3 p:before,
.p4 p:before {
  position: absolute;
  right: 100%;
  margin-right: 20px;
}

.works {
  max-width: 1200px;
  padding: 0 20px;
  margin: -110px auto 0;
  text-align: center;
}
.works h2 {
  color: #3e3bc9;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  padding-bottom: 70px;
}

.slider {
  background-image: linear-gradient(to top, #3e3bc9 0%, #7c75d6 100%);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.slider-item {
  max-height: 500px;
}
.slider-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  font-size: 0;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  z-index: 10;
}

.slick-arrow.slick-prev {
  left: 38px;
  width: 24px;
  height: 43px;
  background: url("../img/l.png") 0 0 no-repeat;
}

.slick-arrow.slick-next {
  right: 38px;
  width: 24px;
  height: 43px;
  background: url("../img/r.png") 0 0 no-repeat;
}

.footer {
  background: url("../img/bg_footer1.png") calc(100vw / 2) 72% no-repeat, url("../img/bg_footer2.png") calc((100vw / 2) - 206px) 800px no-repeat, url("../img/bg_footer3.png") calc((50vw - 652px) - 543px) 0 no-repeat;
}

.footer_wrap {
  max-width: 1200px;
  padding: 200px 95px 260px;
  margin: 0 auto;
}

.footer_title {
  text-align: center;
}
.footer_title h2 {
  color: #3e3bc9;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  padding-bottom: 30px;
}
.footer_title p {
  color: #606c7a;
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 95px;
}

.footer_form {
  max-width: 45%;
}
.footer_form input {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  padding: 18px 0;
  border-radius: 30px;
  border: 1px solid #3e3bc9;
  margin-bottom: 40px;
}
.footer_form #name {
  box-shadow: inset 0 15px 15px rgba(62, 59, 201, 0.2);
}
.footer_form #tel {
  box-shadow: inset 0 15px 15px rgba(62, 59, 201, 0.2);
}
.footer_form #submit {
  background-color: #ffdf7d;
  cursor: pointer;
  font-weight: 700;
  color: #171717;
  letter-spacing: 0;
  border: none;
}
.footer_form p {
  color: #606c7a;
  font-size: 20px;
  font-weight: 400;
  padding: 0 50px;
  text-align: center;
}
